body{
background-color: rgb(255, 255, 255);
font-size: 24px;
font-family: 'Libre Baskerville', serif;
}
div{
  text-align: center;
}
img{
  width: 50%;
  border-radius: 70%;
}
h1, h2{
  font-size: 1.5em;
  text-align: center;
  font-family: Patua One', cursive;
}
.logo{
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 3em;
  border-top: 1.5px red solid;
}
a{
  text-decoration: none;
  background-color: azure
}
p{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  text-indent: 20px;
  text-align: justify;
}