body{
  border: 2px solid red;
  font-size: 24px;
}
main{
  border: inherit;
}
main-article{
  border: 2px solid red;
  font-size: 1,5em;
}

main-article__heading{
  border: inherit;
  font-size: 1.5em;
}
main-article__content{
  font-size: initial;
}